.d1 {    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;}
.ComponentsItem{    width: 250px;
        height: auto;
    margin: 5px;
    overflow:auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;}
.ComponentsItem div {    
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.ComponentsItem:hover{cursor:pointer}
.top{
    display: flex;
    
    width: 100%;
    height: 40px;
}
.top a {text-decoration: none;
padding-left: 50px;
font-size: 20px;
color: black;
font-family: 'Times New Roman', Times, serif;
}
.top input{width: 300px; height: 20px; margin-top: 20px; margin-left: 50px;}
.top img {padding-left: 50px; width: 200px; padding-top: 10px;}
.top h3{font-size: 20px; font-family: 'Times New Roman', Times, serif;}
.mainV{
   
    width: 100%;
    height: 500px;
    background-color: #f1f2f4;
    
}
.mainV img {width: 500px;
float: right;
position: absolute;

right: 0%;
top: 200px;
}
.mainV h1{padding-left: 80px;
font-size: 40px;
}
.mainV p{
    padding-left: 80px;
    font-size: 20px;
}

#input2{
    width: 500px;
    height: 40px;
    margin-left: 10px;
}
select{height: 45px; width: 150px;margin-left: 80px}

.conBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conBody form{
    display: flex;
    flex-direction: column;
    width: 50%;
}


